# Environment
.env
backend/.env

# Virtual Environment
.venv_training/
__pycache__/

# Large Datasets
dataset/
training/*.npy
training/splits/

# Models
models/
*.keras
*.tflite

# VS Code
.vscode/

# Logs
logs/
*.log
*.png
*.webp
